body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header img {
    width: 300px;
    float: left;
}
nav {
    padding-top: 61px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 5%;
}
nav a:hover {
    color: #111;
}
main {
    width: 90%;
    margin: 10px auto;
}
aside {
    float: right;
    width: 20%;
    border: 1px dotted #d4d4d4;
    background-color: #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
aside a {
    text-decoration: none;
    color: #000;
}
footer {
    background-color: #eee;
    color: #4d4d4d;
    padding: 10px 0;
    font-size: 80%;
    height: 50px;
    clear: both;
}
.featuredImage {
    max-width: 100%;
}
.bold {
    font-weight: bold;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell;
    padding: 10px 0;
}
.tableCell:first-child {
    font-weight: bold;
}
.borderBottom {
    border-bottom: 1px solid #bbb;
}
.removeLink {
    text-align: right;
    font-size: 80%;
    color: #037dbe;
}
#links {
    background-color: #037dbe;
    padding: 5px 0;
}
#mainContentContainer {
    width: 100%;
}
#sideBarHeading {
    text-align: center;
    padding: 5px 0;
}
#sideBarContainer {
    margin: 0 auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    display: table;
}
#cartButtons {
    text-align: right;
    padding: 15px 3% 0 0;
}
#cartButtons button {
    background-color: #037dbe;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 2%;
    cursor: pointer;
}
#cartButtons #clearCartButton {
    background-color: #eee;
    color: #037dbe;
    border: 1px solid #037dbe;
}
#socialMediaLinks {
    float: left;
    padding-left: 5%;
}
#socialMediaLinks img {
    width: 40px;
    padding: 6px 0 0 6px;
}
#footerNav a {
    text-decoration: none;
    font-size: 120%;
    padding-right: 5%;
    padding-top: 17px;
    float: right;
    color: #037dbe;
}
#footerNav a:hover {
    color: #000;
}
#copyright {
    width: 200px;
    margin: 0 auto;
    font-style: italic;
    padding-top: 35px;
}